@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?eqz8e9');
    src:  url('fonts/icomoon.eot?eqz8e9#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?eqz8e9') format('truetype'),
      url('fonts/icomoon.woff?eqz8e9') format('woff'),
      url('fonts/icomoon.svg?eqz8e9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
  
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home:before {
    content: "\e902";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-star-empty:before {
    content: "\e9d7";
  }
  .icon-filter:before {
    content: "\ea5b";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  