*{
    margin:0; 
    padding:0;
    }
   
     /* body{
        background-image:url(imagenes/verde.jpg);
         background-repeat: no-repeat; 
    
    }  */
  /* .portada {
    
        
        background-size:100% 200%;
    }    
    header {
        width: 100%;
       left: 0;
       top:0;
       position: absolute;
   }header nav {
    float: right;
    line-height: 55px;
    padding: 15px 30px 0px 0px;
    }
header nav a  {
    display: inline-block;
    overflow-wrap: 300;
    color:rgb(49, 184, 121);
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bolder;
    justify-content: left;
    }
header nav a:hover {

    background:yellow;
    color:rgb(0,0,205);
    border-radius: 20px;
    }   */
    #page {
        margin: 0px auto;
        width: 100%;
    }
    .menu{
        font-family: 'Ubuntu', sans-serif;
    }
    
    #lista{
        display:none;
    }
    #home{
        display:block;
    }
    #listCalcuPoke{
        display:none;
    }
    
    .wrapper{
        /* width:100%;
        margin:auto;
        overflow: hidden;
        height: 85px; */
        height: 100%;
    overflow: auto;
    padding: 0% 1% 0% 1%;
    width: 98%;
        }
        
    
    #imagen-logo{
        max-width: 150%;
        max-height: 80px;
        float: left;
        padding: 10px 5px 10px 5px;
        margin-left: 30px;
    }
    
    header {
         /* width: 100%;
        background:linear-gradient(red 70% ,rgba(245,245,220,0.1 ));
        left: 0;
        top:0;
        position: fixed; */
        /* position: fixed; */
        top: 0;
        width: 100%;
        padding: 15px 20px;
        background-color: rgb(32, 105, 87);
        font-size: 20px;
        color: #FFFFFF;
    }
    header .wrapper {
        display: table;
        width:80%;
        margin:auto;
        overflow: hidden;
    }    
    
      p { 
        color: white;
    }
    
    header .contendedor{
        display: table;
    }
    #menu-bar{
            display: none;
        }
    
        .icon-menu{
            display: none;
        }
    
        header nav {
            /* float: right;
            line-height: 55px; */
            padding: 15px 30px 0px 0px;
            }
        header nav a  {
            display: inline-block;
            color:white;
            text-decoration: none;
            padding: 10px 10px;
            line-height: normal;
            font-size: 20px;
            font-weight:bold;
            -transition:all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
            justify-content: left;
            }
        header nav a:hover {
        
            background:yellow;
            color:rgb(0,0,205);
            border-radius: 50px;
            }   
    
    .mySlides {display:none;}

  

/* pagina 1 */
     .cuadrado { 
        border-style:solid;
        border-width:2px;
        border-color:red;
        position: relative;
        width: 50%; 
         background:linear-gradient(rgb(248, 243, 243) 70% ,rgba(245,245,220,0.1 ));
        top:152px;
        border-color:black(49 184 121);
        border-width: 1px;
        position: relative;
        border-style: solid;
        width: 100%;
        height: 900px;
        left: 0%;

 
    } 
    .cuadrado2{
        background:linear-gradient(rgb(248, 243, 243) 70% ,rgba(245,245,220,0.1 ));
        top: 0px;
        border-color:black(49 184 121);
        border-width: 4px;
        position: relative;
        border-style: solid; 
         border-style: solid; 
         width: 51%;
        height: 661px;
        left: 48% 
      
    }
.foto{
   
    background-image: url(imagenes/foto.jpg);
     width: 40%;
        height: 350px;
        top: 0px;
         background-repeat: no-repeat;
        left: 10%;
        position: relative;  
        max-width: 100%;
        height: auto;
}

.hide{
    display: none; 
}
/* segunda pagina */


.segundo{
    background: linear-gradient(rgb(248, 243, 243) 70% ,rgba(245,245,220,0.1 ));
    top: 214px;
    border-color: black(49 184 121);
    border-width: 2px;
    position: relative;
    border-style: solid;
    width: 29%;
    height: 117px;
    left: 34%;
}

/* 3ra pantalla */

.consejo{
    background: linear-gradient(rgb(248, 243, 243) 70% ,rgba(245,245,220,0.1 ));
    top: 214px;
    border-color: black(49 184 121);
    border-width: 2px;
    position: relative;
    border-style: solid;
    width: 29%;
    height: 117px;
    left: 34%;
}

/* 4ta pantalla */
.contactenos{
    background: linear-gradient(rgb(248, 243, 243) 70% ,rgba(245,245,220,0.1 ));
    top: 214px;
    border-color: black(49 184 121);
    border-width: 2px;
    position: relative;
    border-style: solid;
    width: 29%;
    height: 117px;
    left: 34%;
}

.cuadrado5{
    background: linear-gradient(rgb(248, 243, 243) 70% ,rgba(245,245,220,0.1 ));
    top: 214px;
    border-color: black(49 184 121);
    border-width: 2px;
    position: relative;
    border-style: solid;
    width: 29%;
    height: 117px;
    left: 34%;
}
.cuadrado6{
    background: linear-gradient(rgb(248, 243, 243) 70% ,rgba(245,245,220,0.1 ));
    top: 214px;
    border-color: black(49 184 121);
    border-width: 2px;
    position: relative;
    border-style: solid;
    width: 29%;
    height: 117px;
    left: 34%;
}